#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

body{
  /* height: 95.5vh;
  width: 97vw; */
  /* margin: 0px !important; */
  margin : 0px;
  
 
}

#mapLoc{
  background-image: url("../public/images/pokemonMap.jpg");
  height: 100vh;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

#battleGround{
  position: absolute;
  top:0px;
  background-image: url("https://mobimg.b-cdn.net/v3/fetch/1f/1fbbb5b85d58abbca627026e1fe5426b.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#enemyPokemonHolder{
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  right: 10%;
}

#frendlyPokemonHolder{
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  left: 10%;
}

#enemyPokemonImage{
  scale: 0.7;
  width: 100%;
  position: relative;
  top: -60px;
}

#enemyPokemonName{
  font-size: x-large;
}

#enemyPokemonStats{
  background-color: antiquewhite;
  width: 100%;
  height: 35px;
  position: relative;
  top:-120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#backToMapButton{
  position: absolute;
  bottom: 3%;
  width: 100%;
}



/* //////////////////   POSITIONS */

.locBtn{
  position: absolute;
}


#loc-0{
  top: 67%;
 left: 30%;
}

#loc-1{
  top: 47%;
 left: 35%;
}

#loc-2{
  top: 70%;
 left: 42%;
}

#loc-3{
  top: 46%;
 left: 62%;
}

#loc-4{
  top: 17%;
 left: 30%;
}

#loc-5{
  top: 16%;
 left: 63%;
}

#loc-6{
  top: 60%;
 left: 60%;
}

#loc-7{
  top: 43%;
 left: 13%;
}

#loc-8{
  top: 27%;
 left: 30%;
}

#loc-9{
  top: 82%;
 left: 65%;
}

#loc-10{
  top: 24%;
 left: 75%;
}

#loc-11{
  top: 95%;
 left: 32%;
}

#loc-12{
  top: 85%;
 left: 50%;
}

#loc-13{
  top: 50%;
 left: 50%;
}

#loc-14{
  top: 35%;
 left: 49%;
}

#loc-15{
  top: 5%;
 left:75%;
}

#loc-16{
  top: 63%;
 left: 50%;
}

#loc-17{
  top: 10%;
 left: 59%;
}

#loc-18{
  top: 10%;
  left: 66%;
}

#loc-19{
  top: 5%;
  left: 20%;
}




/* //////////////////   POSITIONS */
