#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

body{
  /* height: 95.5vh;
  width: 97vw; */
  /* margin: 0px !important; */
  margin : 0px;
  
 
}



.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

#battleGround{
  position: absolute;
  top:0px;
  background-image: url("https://mobimg.b-cdn.net/v3/fetch/1f/1fbbb5b85d58abbca627026e1fe5426b.jpeg");
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

#enemyPokemonHolder{
  width: 400px;
  height: 400px;
}

#enemyPokemonImage{
  scale: 0.5;

}
