#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

body{
  /* height: 95.5vh;
  width: 97vw; */
  /* margin: 0px !important; */
  margin : 0px;
  overflow-y: hidden;
}

#hideBtn{
  z-index: 10;
  cursor: pointer;
}

#mapLoc{
  background-image: url("../public/images/pokemonMap.jpg");
  height: 100vh;
  width: 100vw;
  visibility: hidden;
}

#pokedex{
  position: absolute;
  top:10%;
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns:auto auto auto auto auto auto;
}

#pokedexHeader{
  background-color: rgb(20,20,20);
  position: absolute;
  top:0px;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  color:aliceblue;
  font-size: x-large;
}

#pokedex::-webkit-scrollbar{
  visibility: hidden;
  background: transparent;
}

.pokemonCard{
  border: white solid;
  margin:10px;
  margin-left: 15%;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.imgHolder > img{
  max-width: 120px;
  
}

.imgHolder{
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  left: 40%;
  position: relative;
}

#loadingScreen{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
}

#loadingScreen > img{
  width: 100vw;
  height: 90vh;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

#battleGround{
  position: absolute;
  top:0px;
  background-image: url("https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/12/02/6a13488e/trainer_battles_arena.jpg");
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

#enemyPokemonHolder{
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  right: 10%;
}

#frendlyPokemonHolder{
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  left: 10%;
}

#enemyPokemonImage{
  scale: 0.7;
  width: 100%;
  position: relative;
  top: -60px;
}

#enemyPokemonName{
  font-size: x-large;
}

#enemyPokemonStats{
  background-color: antiquewhite;
  width: 100%;
  height: 35px;
  position: relative;
  top:-120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#backToMapButton{
  position: absolute;
  bottom: 3%;
  width: 100%;
}



/* //////////////////   POSITIONS */

.locBtn{
  position: absolute;
}


#loc-0{
  top: 67%;
 left: 30%;
}

#loc-1{
  top: 47%;
 left: 35%;
}

#loc-2{
  top: 70%;
 left: 42%;
}

#loc-3{
  top: 46%;
 left: 62%;
}

#loc-4{
  top: 17%;
 left: 30%;
}

#loc-5{
  top: 16%;
 left: 63%;
}

#loc-6{
  top: 60%;
 left: 60%;
}

#loc-7{
  top: 43%;
 left: 13%;
}

#loc-8{
  top: 27%;
 left: 30%;
}

#loc-9{
  top: 82%;
 left: 65%;
}

#loc-10{
  top: 24%;
 left: 75%;
}

#loc-11{
  top: 95%;
 left: 32%;
}

#loc-12{
  top: 85%;
 left: 50%;
}

#loc-13{
  top: 50%;
 left: 50%;
}

#loc-14{
  top: 35%;
 left: 49%;
}

#loc-15{
  top: 5%;
 left:75%;
}

#loc-16{
  top: 63%;
 left: 50%;
}

#loc-17{
  top: 10%;
 left: 59%;
}

#loc-18{
  top: 10%;
  left: 66%;
}

#loc-19{
  top: 5%;
  left: 20%;
}

input {
  background-color: #212121;
  max-width: 190px;
  height: 20px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

/* //////////////////   POSITIONS */


  


.card {
  overflow: visible;
  width: 190px;
  height: 254px;
  padding: 10px;
  margin-left: 10%;
}

.cardEventTaker{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* background: linear-gradient(90deg, transparent, rgb(0, 255, 255), rgb(0, 255, 255), rgb(0, 255, 255), rgb(0, 255, 255), transparent); */
  
  /* background: linear-gradient(90deg, transparent, rgb(172, 252, 2),rgb(172, 252, 2), rgb(172, 252, 2), rgb(172, 252, 2), transparent); */

}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, rgb(0, 255, 255), rgb(0, 255, 255), rgb(0, 255, 255), rgb(0, 255, 255), transparent);
  animation: rotation_481 5000ms infinite linear
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: rgb(41, 39, 39);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: transparent;
  position: relative;
  filter: blur(7px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background: transparent;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background: transparent;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.pokemonImage {
  position: absolute;
  bottom: 5%;
  max-width: 150px;
  max-height: 150px;
  filter: brightness(100%)
}

.pokemonName {
  position: absolute;
  top: 3%;
}

.selectedPokemon{
 background:  linear-gradient(90deg, transparent, rgb(252, 248, 2),rgb(252, 248, 2),rgb(252, 248, 2), transparent);
 box-shadow: 0 0 10px 0 white, 0 0 25px 0 rgb(255, 247, 0), 0 0 40px 0 white;
}

#firstCircle {
  width: 100%;
  height: 100%;
}

#secondCircle {
  width: 100%;
  height: 100%;
}

#thirdCircle{
  width: 100%;
  height: 100%;
}

.stats {
  text-align: left;
  top: 1%;
  position: relative;
  width: 20vw;
  height: 35px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  display: flex;
  flex-direction: row;
}

.rightStats {
  right: 20%;
  position: absolute;
  height: 35px;
  color: white;
}